
<div class="container mt-4 mb-4">
<table class="blueTable">
  <thead>
  <tr>
    <th class="text-center">Patient ID</th>
    <th class="text-center">Age</th>
    <th class="text-center">Gender</th>
    <th class="text-center">Tumor Type</th>
    <th class="text-center">Tumor Grade</th>
    <th class="text-center">Tumor Location</th>
    <th class="text-center">Treatment</th>
    <th class="text-center">Treatment Outcome</th>
    <th class="text-center">Time to Recurrence (month)</th>
    <th class="text-center">Recurrence Site</th>
    <th class="text-center">Survival Time (month)</th>
    <th class="text-center" colspan="3"></th>
  </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td class="text-center"><%= patient.patient_id %></td>
        <td class="text-center"><%= patient.age %></td>
        <td class="text-center"><%= patient.gender %></td>
        <td class="text-center"><%= patient.tumor_type %></td>
        <td class="text-center"><%= patient.tumor_grade %></td>
        <td class="text-center"><%= patient.tumor_location %></td>
        <td class="text-center"><%= patient.treatment %></td>
        <td class="text-center"><%= patient.treatment_outcome %></td>
        <td class="text-center"><%= patient.time_to_recurrence %></td>
        <td class="text-center"><%= patient.recurrence_site %></td>
        <td class="text-center"><%= patient.survival_time %></td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
  <tr>
    <td colspan="11">
      <div class="links">
        <%= paginate @patients %>
      </div>


    </td>
  </tr>
  </tfoot>
</table>
</div>


