<!-- app/views/patients/index.html.erb -->

<h1>Listado de Pacientes</h1>

<table>
  <thead>
  <tr>
    <th>Patient ID</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Tumor Type</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @patients.each do |patient| %>
    <tr>
      <td><%= patient.patient_id %></td>
      <td><%= patient.age %></td>
      <td><%= patient.gender %></td>
      <td><%= patient.tumor_type %></td>
      <td>
        <%= link_to 'Ver', patient_path(patient), class: 'btn btn-primary' %>
        <%= link_to 'Editar', edit_patient_path(patient), class: 'btn btn-secondary' %>
        <%= link_to 'Eliminar', patient_path(patient), method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'btn btn-danger' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Agregar Nuevo Paciente', new_patient_path, class: 'btn btn-success' %>
